# Ignore Gradle project-specific cache directory
.gradle
app/bin
app/build
app/build/test
app/build.gradle
app/src/test
gradlew
gradlew.bat
settings.gradle
gradle
.vscode
# Ignore Gradle build output directory
build
